*,*::after,*::before{
    margin: 0%;padding: 0%;
}
body{
    background-image: url('44bb5f81-21e4-49f3-8f0a-ad82ba9f4092.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}
header{
    width: 100%;
    height: fit-content;
    overflow: hidden;
    display: flex;
}
main{
    overflow: hidden;
}
#home1{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
}
#item1{
    margin-left: 130px;
    margin-right: 40%;
    margin-top: 10px;
    font-size: 1.5rem;
    color: white;
    
}
#item2{
    margin-top: 10px;
}
img#logo{
    background-image: url('9ff7f746-d95a-4e1d-af37-84c1929d322f.jpeg');
    background-size: cover;
    width: 80px;
    height: 80px;
    position: relative;
    border-radius: 20px;
}
#contenair{
    width: 80%;
    height: 550px;
    border-radius: 30px;
    border-top: 2px solid #ffffff75;
    border-left: 2px solid #ffffff75;
    box-shadow: 5px 5px 12px #00000035;
    background: #ffffff25;
    overflow:hidden;
    margin-top: 50px;
    margin-left:150px; 
    display: flex;
}
h1{
    font-size: 4rem;
    color: white;
    text-align: center;
    text-shadow: 0px 0px 10px rgb(10, 10, 90),0px 0px 15px rgb(10, 10, 100),0px 0px 20px rgb(10, 10, 100);
}
h2{
    color: black;
    padding:2.5rem 2.5rem;
    font-size: 1.5rem;
}
#box1,#box2{
    width: 50%;
    height:600px ;
}
#box1{
   background-color: rgba(73, 143, 248, 0.719);
}
#box2{
    background-color: rgba(255, 255, 255, 0.466);
}
#photo{
    background-image: url('IMG-20240428-WA0016~3.jpg');
    background-size: cover;
    width: 350px;
    height: 350px;
    border-radius: 100%;
    margin-top: 10px;
    margin-left: 140px;
}
button#menu,#contact{
    background: transparent;
    height: 30px;
    width: 100px;
    color: white;
    font-size: 15px;
    margin-left: 20px;
    border: none;
    border-bottom: 3px solid white ;
    border-radius: 15px;
}
button:hover,
button:focus {
    box-shadow: 0px 0px 8px aqua,0px 0px 12px aqua,0px 0px 16px aqua;
  }
p{
   padding:2.5rem 2.5rem;
   color:white;
   font-size:1.2rem;
}