*,*::after,*::before{
    margin: 0%;padding: 0%;
}
body{
    background-image: url('44bb5f81-21e4-49f3-8f0a-ad82ba9f4092.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}
header{
    width: 100%;
    height: fit-content;
    overflow: hidden;
    display: flex;
}
main{
    overflow: hidden;
}
#home1{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
}
#item1{
    margin-left: 100px;
    margin-right: 50%;
    margin-top: 10px;
    font-size: 1.5rem;
    color: white;
    
}
#item2{
    margin-top: 10px;
}
img#logo{
    background-image: url('9ff7f746-d95a-4e1d-af37-84c1929d322f.jpeg');
    background-size: cover;
    width: 80px;
    height: 80px;
    position: relative;
    border-radius: 20px;
}

button#menu,#contact{
    background: transparent;
    height: 30px;
    width: 100px;
    color: white;
    font-size: 15px;
    margin-left: 20px;
    border: none;
    border-bottom: 3px solid white ;
    border-radius: 15px;
}
button:hover,
button:focus {
    box-shadow: 0px 0px 8px aqua,0px 0px 12px aqua,0px 0px 16px aqua;
  }
  .contenair{
      width: 70%;
      height: 100vh;
      display: flex;
      flex-wrap: wrap;
      margin-left: 20%;
      margin-top: 2rem;
  }
  img#img{
    background-image: url('IMG-20240428-WA0016~3~1.jpg');
    background-size: cover;
    width: 150px;
    height: 200px;
    position: relative;
    margin-left: 4rem;
    margin-top: 1rem;
    border-radius: 10px;
  }
  
  .box{
      background-color:blue;
      width: 30%;
      height: 100vh;
  }
  .box1{
      background-color: white;
      width:50% ;
      height: 100vh;
  }
  .item{
      margin-top: 3rem;
  }
  #pres{
     border-bottom: 3px solid black; 
  }
  div{
      
      padding-left: 1rem;
  }
  p{
      font-size: 1rem;
    }
h1,h2,h3{
    font-size: 1.5rem;
}
h3,h2{
    margin-top:2rem; 
}
h4{
    font-size: 1rem;
    color: blue;
}
h3,li,p.a{
    color: white;
}